/* ===============================================
  !THIS PAGE CONTAINS ALL THE VARIABLES FOR THE PROJECT AND THE GLOBAL RESET
  
  !~download the extension "better comments"
  =============================================== */


/* --------------------------------------------------
    TODO: UNCOMMENT THIS FOR PRODUCTION
!~~~DEV USE ONLY~~~
     -------------------------------------------------- */
body {
  /* font-family: system-ui; */
  /* line-height: 1.5; */
}

  /* --------------------------------------------------
    !import global utility classes
  -------------------------------------------------- */

:root {
  /* --------------------------------------------------
    !Z Variables 
    Use Case: Control stacking order of elements
  -------------------------------------------------- */
  --z-1: 1;
  --z-2: 2;
  --z-3: 3;
  --z-4: 4;
  --z-5: 5;
  /* --------------------------------------------------
    !Spacing Variables 
    Use Case: Define consistent spacing for margins, padding, and gaps
  -------------------------------------------------- */
  --spacing-xs: clamp(0.25rem, 0.127rem + 0.41vw, 0.5rem); /* 4px - 8px */
  --spacing-sm: clamp(0.5rem, 0.377rem + 0.41vw, 0.75rem); /* 8px - 12px */
  --spacing-md: clamp(0.75rem, 0.627rem + 0.41vw, 1rem); /* 12px - 16px */
  --spacing-base: clamp(1rem, 0.754rem + 0.83vw, 1.5rem); /* 16px - 24px */
  --spacing-lg: clamp(1.5rem, 1.254rem + 0.83vw, 2rem); /* 24px - 32px */
  --spacing-xl: clamp(2rem, 1.508rem + 1.66vw, 3rem); /* 32px - 48px */
  --spacing-2xl: clamp(3rem, 2.508rem + 1.66vw, 4rem); /* 48px - 64px */
  --spacing-3xl: clamp(4rem, 3.016rem + 3.32vw, 6rem); /* 64px - 96px */
  --spacing-4xl: clamp(6rem, 5.016rem + 3.32vw, 8rem); /* 96px - 128px */
  --spacing-5xl: clamp(8rem, 6.031rem + 6.63vw, 12rem); /* 128px - 192px */
  --spacing-6xl: clamp(12rem, 10.031rem + 6.63vw, 16rem); /* 192px - 256px */
  --spacing-7xl: clamp(16rem, 12.062rem + 13.26vw, 24rem); /* 256px - 384px */
  --spacing-8xl: clamp(24rem, 20.062rem + 13.26vw, 32rem); /* 384px - 512px */
  --spacing-9xl: clamp(32rem, 28.062rem + 13.26vw, 40rem); /* 512px - 640px */
  --spacing-10xl: clamp(40rem, 36.062rem + 13.26vw, 48rem); /* 640px - 768px */
  --spacing-11xl: clamp(48rem, 46.031rem + 6.63vw, 52rem); /* 768px - 832px */

  /* --------------------------------------------------
    !Font Size Variables 
    Use Case: Define responsive font sizes for typography
    (MIN VIEWPORT: 475px | MAX VIEWPORT: 1200px)
  -------------------------------------------------- */
  /*

  !COMMENTED OUT FOR THIS PROJECT
  * HOW TO PICK YOUR FONT SIZES:
  *If Mobile first approach.... LOOK AT SMALLEST NUMBER IN THE RANGE = THE FONT YOU ARE PICKING TO USE
  *If Desktop first approach.... LOOK AT LARGEST NUMBER IN THE RANGE = THE FONT YOU ARE PICKING TO USE
  */
  /*--fsz-2xs: clamp(
    0.625rem,
    0.563rem + 0.21vw,
    0.75rem
  ); */ /* 10px - 12px */ /* !Should Hardly be used... only for <small> text */
 /* --fsz-xs: clamp(0.75rem, 0.688rem + 0.21vw, 0.875rem); *//* 12px - 14px */
  /*--fsz-sm: clamp(0.875rem, 0.813rem + 0.21vw, 1rem);*/ /* 14px - 16px */
 /* --fsz-md: clamp(1rem, 0.938rem + 0.21vw, 1.125rem);*//* !Base | 16px - 18px */
  /*--fsz-lg: clamp(1.125rem, 1.063rem + 0.21vw, 1.25rem);*/ /* 18px - 20px */
  /*--fsz-xl: clamp(1.25rem, -0.596rem + 6.22vw, 5rem);*/ /* 20px - 80px */
  /*--fsz-2xl: clamp(1.5rem, 1.315rem + 0.62vw, 1.875rem);*/ /* 24px - 30px */
 /* --fsz-3xl: clamp(1.875rem, 1.69rem + 0.62vw, 2.25rem);*/ /* 30px - 36px */
  /*--fsz-4xl: clamp(2.25rem, 1.881rem + 1.24vw, 3rem);*/ /* 36px - 48px */
  /*--fsz-5xl: clamp(3rem, 2.631rem + 1.24vw, 3.75rem);*/ /* 48px - 60px */
  /*--fsz-6xl: clamp(3.75rem, 3.381rem + 1.24vw, 4.5rem);*/ /* 60px - 72px */
  /*--fsz-7xl: clamp(4.5rem, 3.762rem + 2.49vw, 6rem); *//* 72px - 96px */
  --fsz-3xs: 1rem;
  --fsz-2xs: 1.125rem;
    --fsz-xs: 1.25rem;
  --fsz-sm: 1.375rem;
  --fsz-md: 1.5rem;
  --fsz-lg: clamp(2.5rem, 33.456px + 1.38vw, 3.125rem);
  --fsz-xl: clamp(2.5rem, 0.453rem + 6.90vw, 5.625rem);
  --fsz-2xl: clamp(2.5rem, -0.366rem + 9.66vw, 6.875rem);
  --fsz-3xl: clamp(3.125rem, -2.198rem + 17.93vw, 11.25rem);

  /* --------------------------------------------------
   !line-height Variables 
  -------------------------------------------------- */
  --lh-xs: 1.25; /* Extra Small */
  --lh-sm: 1.35; /* Small */
  --lh-md: 1.5; /* !BASE  */
  --lh-lg: 1.6; /* Large */
  --lh-xl: 1.75; /* Extra Large */
  --lh-2xl: 1.8; /* 2x Extra Large */
  --lh-3xl: 2; /* 3x Extra Large */
  --lh-4xl: 2.2; /* 4x Extra Large */
  --lh-5xl: 2.5; /* 5x Extra Large */
  --lh-6xl: 2.8; /* 6x Extra Large */
  --lh-7xl: 3; /* 7x Extra Large */

  /* --------------------------------------------------
    !Font Weight 
  -------------------------------------------------- */
  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  /* --------------------------------------------------
    !Breakpoints for Media Queries
  -------------------------------------------------- */
  --mq-breakpoint-md: 30rem; /* 480px */
  --mq-breakpoint-lg: 80rem; /* 1280px */

  /* --------------------------------------------------
    !Breakpoints for Container Queries
  -------------------------------------------------- */

  --cq-breakpoint-sm: 29.6875rem; /* 475px */
  --cq-breakpoint-md: 48rem; /* 768px */
  --cq-breakpoint-lg: 64rem; /* 1024px */

  /* --------------------------------------------------
!max-width
-------------------------------------------------- */
  --max-width-1440px: 90rem;
  /* --------------------------------------------------
 !border-radius
-------------------------------------------------- */
  --border-radius: 0.75rem;
  --rounded-border-radius: 5.625rem;

  /* --------------------------------------------------
!Neurophimisim background gradients
-------------------------------------------------- */
  --convex-primary-red: linear-gradient(
    145deg,
    hsl(0, 100%, 64%),
    hsl(0, 77%, 57%)
  );
  --convex-background-yellow: linear-gradient(
    145deg,
    hsl(60, 100%, 95%),
    hsl(45, 81%, 92%)
  );
  --convex-background: linear-gradient(
    145deg,
    hsl(180, 100%, 99%),
    hsl(215, 63%, 95%)
  );
  --convex-primary: linear-gradient(
    145deg,
    hsl(202, 100%, 51%),
    hsl(205, 97%, 46%)
  );

  --color-text-900: hsl(240, 3%, 12%); /* Default or base black */
  --color-text-800: hsl(240, 2%, 25%); /* Dark gray */
  --color-text-700: hsl(240, 2%, 37%); /* Medium-dark gray */
  --color-text-600: hsl(240, 1%, 44%); /* Medium gray */
  --color-text-500: hsl(240, 1%, 60%); /* Medium-light gray (default gray) */
  --color-text-400: hsl(240, 2%, 73%);
  --color-text-300: hsl(240, 3%, 87%);
  --color-text-200: hsl(240, 5%, 93%);
  --color-text-100: hsl(240, 14%, 96%);
  --color-text-50: hsl(240, 40%, 98%)
  --color-text-0: hsl(240, 100%, 100%);

  --color-red-100: hsl(0, 100%, 95%); /* Very light red */
  --color-red-200: hsl(0, 100%, 85%); /* Light red */
  --color-red-300: hsl(0, 100%, 74%); /* Slightly lighter than 400 */
  --color-red-400: hsl(0, 100%, 63%); /* Base red */
  --color-red-500: hsl(0, 100%, 53%); /* Slightly darker red */
  --color-red-600: hsl(0, 100%, 43%); /* Dark red */
  --color-red-700: hsl(0, 100%, 33%); /* Darker red */
  --color-red-800: hsl(0, 100%, 23%); /* Very dark red */
  --color-red-900: hsl(0, 100%, 13%); /* Darkest red */

  /* --------------------------------------------------
!FONT FAMILIES
-------------------------------------------------- */
  --ff-regular: "Inter Tight", system-ui;
  --ff-bold: "Instrument Sans", system-ui;
  /* --------------------------------------------------
 !BACKGROUND SHADOWS  with elevations
-------------------------------------------------- */
  --shadow-color: 0deg 0% 63%;
  --shadow-sm: 0.0187rem 0.0313rem 0.0313rem hsl(var(--shadow-color) / 0.52),
    0.025rem 0.05rem 0.05rem -0.1187rem hsl(var(--shadow-color) / 0.4),
    0.0625rem 0.125rem 0.1313rem -0.2313rem hsl(var(--shadow-color) / 0.29);
  --shadow-md: 0.0187rem 0.0313rem 0.0313rem hsl(var(--shadow-color) / 0.43),
    0.0313rem 0.0625rem 0.0625rem -0.0563rem hsl(var(--shadow-color) / 0.38),
    0.0688rem 0.1313rem 0.1375rem -0.1187rem hsl(var(--shadow-color) / 0.32),
    0.15rem 0.3rem 0.3125rem -0.175rem hsl(var(--shadow-color) / 0.26),
    0.3125rem 0.625rem 0.6563rem -0.2313rem hsl(var(--shadow-color) / 0.2);
  --shadow-lg: 0.0187rem 0.0313rem 0.0313rem hsl(var(--shadow-color) / 0.4),
    0.0437rem 0.0938rem 0.1rem -0.025rem hsl(var(--shadow-color) / 0.38),
    0.0813rem 0.1625rem 0.1688rem -0.05rem hsl(var(--shadow-color) / 0.35),
    0.1375rem 0.275rem 0.2875rem -0.075rem hsl(var(--shadow-color) / 0.32),
    0.225rem 0.4437rem 0.4688rem -0.1062rem hsl(var(--shadow-color) / 0.29),
    0.35rem 0.7063rem 0.7375rem -0.1313rem hsl(var(--shadow-color) / 0.27),
    0.5375rem 1.075rem 1.125rem -0.1563rem hsl(var(--shadow-color) / 0.24),
    0.7937rem 1.5875rem 1.6625rem -0.1812rem hsl(var(--shadow-color) / 0.21),
    1.1313rem 2.2625rem 2.3687rem -0.2062rem hsl(var(--shadow-color) / 0.19),
    1.5625rem 3.125rem 3.275rem -0.2313rem hsl(var(--shadow-color) / 0.16);
}

/*
  1. Apply a more intuitive box-sizing model to all elements and pseudo-elements.
*/
*,
*::before,
*::after {
  box-sizing: border-box;


}
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
/*
  7. Prevent text overflow issues for paragraph and heading elements.
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}



small {
  text-transform: uppercase;
  color: red;
  font-weight: var(--fw-regular);
  font-size: var(--fsz-2xs);
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}




img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 4. Remove default list styles */
ol,
ul {
  list-style: none;
}
/* 9. Set cursor pointer for buttons and clickable elements */
button,
[role="button"],
select {
  cursor: pointer;
}

/* 8. Inherit fonts for form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* 11. Reset table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 12. Remove quotes from blockquotes and q elements */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

/* 15. Avoid text overflows */
* {
  hyphens: auto;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("../src/lib/fonts/InstrumentSans-VariableFont.ttf")
    format("truetype-variations");
  font-weight: 100 900; /* Adjust the range based on the font's capabilities */
}

@font-face {
  font-family: "Inter Tight";
  src: url("../src/lib/fonts/InterTight-VariableFont.ttf")
    format("truetype-variations");
  font-weight: 100 900; /* Adjust the range based on the font's capabilities */
}

/* 2. Remove default margins and paddings */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
small,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* --------------------------------------------------
   Scroll Bar Styles
-------------------------------------------------- */
/* Scrollbar Track */
::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width of the scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: hsl(0, 0%, 100%); /* Background color of the scrollbar track */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 53%); /* Color of the scrollbar thumb */
  border-radius: 0.625rem; /* Rounded corners on the scrollbar thumb */
  border: 0.125rem solid hsl(0, 0%, 100%); /* Optional: Add a border around the scrollbar thumb */
}

/* Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(
    0,
    0%,
    33%
  ); /* Darker color when hovering over the scrollbar thumb */
}

/* Scrollbar Button (optional, to style the up/down buttons on the scrollbar) */
::-webkit-scrollbar-button {
  display: none; /* Hide the up/down buttons on the scrollbar */
}

